<h1>Admin » Dashboard</h1>

<div class="panel panel-default dashboard">
<table class="table table-bordered">
<thead>
<tr>
<th><h4>Product Count</h4></th>
<th><h4>Category Count</h4></th>
</tr>
</thead>
<tbody>
<tr>
<td> <h5><%= @product_count %></h5> </td>
<td> <h5><%= @category_count %></h5> </td>
</tr>
</tbody>
</table>
</div>
